[ req ]
default_bits            = 2048
distinguished_name      = req_dn
req_extensions          = req_ext
x509_extensions         = req_ext
encrypt_key             = no
prompt                  = no

[ req_dn ]
countryName             = CA
stateOrProvinceName     = Saskatchewan
localityName            = 
0.organizationName      = 
#orrganizationalUnitName =
commonName              =
emailAddress            =

[ req_ext ]
subjectAltName          = @alt_names
#subjectAltName          = dirName:req_dn, DNS:example.com, IP:127.0.0.1, DNS:test.example.com
extendedKeyUsage        = serverAuth
#extendedKeyUsage        = serverAuth, clientAuth, codeSigning, emailProtection, timeStamping, OCSPSigning, ipsecIKE, msCodeInd, msCodeCom, msCTLSign, msEFS

[ alt_names ]
dirName                 = req_dn
#IP.1                    = 
DNS.1                   =
